<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/AR_logo_round.png" alt="AR Detailing Center"></ion-img>

  <ion-item>
    <ion-label position="floating"> Rut </ion-label>
    <ion-input [(ngModel)]="formLogin.rut" placeholder="Ingrese su rut"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Contraseña </ion-label>
    <ion-input [(ngModel)]="formLogin.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>

  
    <ion-button [routerLink]="['/home']" shape="block" > Iniciar sesion </ion-button>
    <ion-button [routerLink]="['/registro']" shape="block" > Registrarse </ion-button>
  
  

</ion-content>
