<ion-header>
  <ion-toolbar class="colorAmarillo">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/imagenes/login1.svg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>

  <ion-item>
    <ion-label position="floating"> Rut </ion-label>
    <ion-input [(ngModel)]="formLogin.rut" placeholder="Ingrese su rut"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Contraseña </ion-label>
    <ion-input [(ngModel)]="formLogin.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>

  
    <ion-button (click)="iniciarSesion" shape="block" > Ingresar </ion-button>
  
  

</ion-content>
