<ion-header>
  <ion-toolbar class="colorAmarillo">
    <ion-title>Nuestros Trabajos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">trabajo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
      <ion-row class="footer__row footer__row--bottom">
        <ion-col size="12" class="ion-text-center">
          <small class="footer__small">&copy;2023 <b>ARDetailing</b> Todos los derechos son reservados</small>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>