.footer {
    width: 100%;
    background-color: #1a1a1a;
  }
  
  .footer__row--top {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .footer__figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__img {
    width: 65px;
  }
  
  .footer__titulo {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .footer__contenido {
    color: #efefef;
    margin-bottom: 10px;
  }
  
  .footer__icono:hover {
    color: aqua;
  }
  
  .footer__row--bottom {
    background-color: #1a1a1a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .footer__small {
    font-size: 15px;
  }
  
  @media screen and (max-width: 800px) {
    .footer__row--top {
      width: 90%;
      grid-template-columns: 1fr;
      grid-gap: 4rem;
      padding: 4rem 0px;
    }
  }
  
  .footer__social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
  }
  
  .footer__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: #000000;
    transition: all 300ms ease;
  }
  ion-menu::part(backdrop) {
    background-color: rgba(33, 32, 33, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 187, 0, 0.18);
  }
  .textoSubrayado {
    --text-decoration: underline; /* Valor predeterminado, subrayado */
  }
  
  /* Aplica la variable CSS a elementos que usen la clase .underline-text */
  .underline-text {
    text-decoration: var(--text-decoration);
  }
  
  /* Para desactivar el subrayado en elementos específicos, puedes anular la variable */
  .no-underline-text {
    text-decoration: none; /* Anula la variable para quitar el subrayado */
  }