<ion-header >
  <ion-toolbar class="colorAmarillo">
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding" >
  <ion-card>
    <ion-card-header>
      <ion-card-title>404 Pagina no encontrada</ion-card-title>
      <ion-card-subtitle>No tiene acceso a la pagina solicitada.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
      Por favor contactar a nuestro soporte tecnico.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
      <ion-row class="footer__row footer__row--bottom">
        <ion-col size="12" class="ion-text-center">
          <small class="footer__small">&copy;2023 <b>ARDetailing</b> Todos los derechos son reservados</small>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>